@media screen and (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    .collusion__content,
    .tachen__subtitle,
    .btn {
        font-size: 1em !important;
    }

    .collusion__title,
    .tachen__title {
        font-size: 4em !important;
    }

    .category__cover {
        column-gap: 15px;
    }

    .category__bottom {
        padding: 3px 0;
        justify-content: space-between;
    }

    .slider {
        height: 73vh;
    }

    .man-fashion {
        padding-top: 40px;
    }
}

@media screen and (max-width: 998px) {
    .container {
        max-width: 832px;
    }

    .collusion {
        height: 58vh;
    }

    .collusion__content {
        height: 50vh;
    }

    .collusion__content,
    .tachen__subtitle,
    .btn {
        font-size: 0.9em !important;
    }

    .collusion__title,
    .tachen__title {
        font-size: 3.5em !important;
    }

    .navbar__menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .burger-btn {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    .burger-btn span {
        display: block;
    }

    #toggler:checked~.navbar__menu {
        max-height: 100%;
    }

    .category__cover {
        display: flex;
        flex-wrap: wrap;
    }

    .category-name {
        width: 170px;
    }

    .man-fashion__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .slider__title,
    .avone__title,
    .category__right button {
        font-size: 1.1em;
    }

    .man-fashion__black,
    .man-fashion__descr,
    .man-fashion__red,
    .show-dress p,
    .slider__subtitle,
    .avone__subtitle {
        font-size: 0.8em;
    }

    .show-dress {
        float: left;
    }

    .tachen {
        height: 58vh;
    }

    .tachen__content {
        height: 45vh;
    }

    .footer__content {
        height: 75vh;
    }

    .footer__left,
    .footer__right h3 {
        text-align: center;
    }

    .footer__left h3,
    .footer__right h3 {
        font-size: 1.5em;
    }

    .footer__input,
    .list,
    .footer__left p,
    .comilla span,
    .footer__end p,
    .footer__left span,
    .footer__content,
    .man-fashion__card-title,
    .women-fashion__box > p {
        font-size: 0.9em;
    }

    .comilla {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .slider .container {
        max-width: 580px;
    }

    .collusion {
        height: 33vh;
    }

    .collusion__content {
        height: 29vh;
    }

    .category-name {
        width: 140px;
    }

    .btn {
        width: 107px;
        margin: 10px;
    }

    .collusion__content,
    .tachen__subtitle,
    .btn {
        font-size: 0.7em !important;
    }

    .category__right button {
        font-size: 0.8em;
    }

    .collusion__title,
    .tachen__title {
        font-size: 3em !important;
    }

    .slider {
        height: 60vh;
    }

    .slider__title {
        padding-top: 20px;
    }

    .slider__title,
    .avone__title {
        font-size: 1em;
    }

    .man-fashion__black,
    .man-fashion__descr,
    .man-fashion__red,
    .show-dress p,
    .slider__subtitle,
    .avone__subtitle {
        font-size: 0.7em;
    }

    .avone {
        padding: 5% 10px;
    }

    .avone__images {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .left-image {
        padding-top: 0;
    }

    .bottom-image {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .show-dress p {
        width: 100%;
        text-align: center;
    }

    .small-image img {
        position: static;
        border: none;
    }

    .show-dress {
        flex-direction: column-reverse;
    }

    .tachen {
        height: 33vh;
    }

    .tachen__content {
        height: 27vh;
    }

    .tachen__content > button {
        width: 150px;
    }

    .footer__left h3,
    .footer__right h3 {
        font-size: 1.3em;
    }

    .footer__content {
        height: 75vh;
    }

    .footer__left {
        gap: 15px;
    }

    .list li a,
    .footer__input,
    .list,
    .footer__left p,
    .comilla span,
    .footer__end p,
    .footer__left span,
    .footer__content,
    .man-fashion__card-title,
    .women-fashion__box > p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 576px) {
    .collusion {
        height: 33vh;
    }

    .collusion__content {
        height: 27vh;
        padding: 0 0 0 55%;
    }
    .category__cover {
        display: flex;
        align-items: center;
    }

    .btn {
        width: 75px;
        margin: 5px;
        height: 30px;
    }

    /* .collusion__content,
    .tachen__subtitle,
    .btn {
        font-size: 0.7em !important;
    } */

    .collusion__title,
    .tachen__title {
        font-size: 2.7em !important;
    }

    .slider {
        height: 60vh;
    }

    .man-fashion__row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .man-fashion__card-title {
        text-align: center;
    }

    .man-fashion__row .man-fashion__descr,
    .man-fashion__row .man-fashion__price {
        text-align: center;
    }

    .man-fashion__row .man-fashion__price {
        justify-content: center;
    }

/* 
    .slider__title,
    .avone__title {
        font-size: 0.9em;
    } */

    /* .man-fashion__black,
    .man-fashion__descr,
    .man-fashion__red,
    .show-dress p,
    .slider__subtitle,
    .avone__subtitle {
        font-size: 0.6em;
    } */

    .footer__left h3,
    .footer__right h3 {
        font-size: 1.1em;
    }

    /* .footer__input,
    .list,
    .footer__left p,
    .comilla span,
    .footer__end p,
    .footer__left span,
    .footer__content,
    .man-fashion__card-title,
    .women-fashion__box > p {
        font-size: 0.7em;
    } */

    .footer__content {
        height: 58vh;
    }

    .footer__left,
    .footer__info-1,
    .footer__info-2,
    .footer__info-3 {
        gap: 15px;
    }

    .tachen {
        height: 33vh;
    }

    .tachen__content {
        height: 27vh;
    }

    .tachen__content > button {
        width: 135px;
    }

    .location__img {
        width: 10px;
        height: 10px;
    }

    .icons__img {
        width: 80px;
        height: 10px;
    }
}

@media screen and (max-width: 500px) {
    .slider .container {
        width: 300px;
    }

    .collusion__content {
        padding: 0 0 0 45%;
    }

    .women-fashion__box {
        text-align: center;
    }

    .man-fashion__price {
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .collusion {
        height: 18vh;
    }

    .collusion__content {
        height: 15vh;
        padding: 0 0 0 55%;
    }
    .slider .container {
        width: 95%;
        margin: 0 auto;
    }

    .tachen {
        height: 18vh;
    }

    .tachen__content {
        height: 15vh;
    }

    .tachen__content button {
        width: 80px;
        height: 25px;
    }

    .btn {
        width: 55px;
        margin: 5px;
        height: 20px;
    }

    .collusion__content,
    .tachen__subtitle,
    .btn {
        font-size: 0.4em !important;
    }

    .collusion__title {
        font-size: 2.4em;
    }

    .tachen__title {
        font-size: 1.4em !important;
    }

    .footer__end {
        text-align: center;
    }
/* 
    .slider__title,
    .avone__title {
        font-size: 0.8em;
    } */
/* 
    .man-fashion__black,
    .man-fashion__descr,
    .man-fashion__red,
    .show-dress p,
    .slider__subtitle,
    .avone__subtitle {
        font-size: 0.5em;
    } */

    /* .footer__left h3,
    .footer__right h3 {
        font-size: 0.9em;
    } */

    /* .footer__input,
    .list,
    .footer__left p,
    .comilla span,
    .footer__end p,
    .footer__left span,
    .footer__content,
    .man-fashion__card-title,
    .women-fashion__box > p {
        font-size: 0.6em;
    } */

    .small-image img {
        min-width: 298px;
    }

    .man-fashion {
        padding-top: 20px;
    }

    .category__right button {
        font-size: 0.6em;
    }

    .category-name {
        width: 100px;
        height: 30px;
    }

    .footer__content {
        height: 100vh;
        text-align: center;
    }

    .footer__info {
        flex-direction: column;
        gap: 15px;
    }

}