
@media screen and (max-width: 998px) {
    .navbar__menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .burger-btn {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    .burger-btn span {
        display: block;
    }

    #toggler:checked ~ .navbar__menu {
        max-height: 100%;
    }
  }

@media screen and (max-width: 1200px) {
    .tachen__content {
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: end;
        margin-left: 20px;
    }

    .footer__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 992px ) {
    .tachen__content {
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: end;
        margin-left: 15px;
    }

    .footer__left {
        width: 49%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 15px;
    }

    .footer__left-email p {
        border-bottom: 2px solid grey;
        width: 39%;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 973px) {

    .tachen {
    background-image: url(../img/17\ 1.png);
    width: 100%;
    height: 450px;
    background-size: cover;
    }
 
    .tachen__content {
        display: flex;
        flex-direction: column;
        height: 800px;
        justify-content: end;
    }

    .footer__content {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        height: 700px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .tachen__content {
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: end;
        margin-left: 15px;
    }

    .comilla {
        display: flex;
        gap: 3%;
        justify-content: center;
    }

    .footer__left-email {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .footer__left-email p {
        border-bottom: 2px solid grey;
        width: 52%;
        padding-bottom: 5px;
    }

    .footer__left {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 15px;
    }

    .footer__info-1 {
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: start;
    }

    .footer__info-2 {
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: start;
    }

    .footer__info-3 {
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: start;
    }
}

@media screen and (max-width: 810px) {
    
}

