body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.list {
  display: flex;
  gap: 30px;
}

.list li a {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
}

.burger-menu {
  padding-left: 20px;
}

#toggler,
.burger-btn {
  display: none;
}

/* collusion block */

.collusion__content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: end;
  padding: 0 0 5% 55%;
}

.collusion {
  background: url(./images/main-block-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.collusion__content {
  font-size: 18px;
}

.collusion__content h3 {
  text-transform: uppercase;
  font-weight: 500;
}

.collusion__title {
  font-size: 80px;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  width: 147px;
  height: 35px;
  color: #fff;
  background-color: #000;
  border: none;
  margin: 17px;
}

/* avone block */

.avone__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 0;
}

.avone__subtitle {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 60px;
}

.avone__images {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 55px;
}

.bottom-image {
  position: relative;
}

.small-image img {
  position: absolute;
  bottom: -2.5%;
  right: -13%;
  border: 25px solid white;
  max-width: 227px;
}

.show-dress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  height: 25%;
}

.show-dress p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #000;
  line-height: 37px;
}

.left-image {
  padding-top: 6%;
}